body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1504198146285-9aba0ff6292d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=abd76d30aac7cd0abcbc8bc5f73ee90e&auto=format&fit=crop&w=1534&q=80");

}

#app {
    margin: 5% 15% 0 auto;
    width: 270px;
    border-radius: 5px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #3c3c3c;
    border: 2px solid #977F5E;
}
.cat-form{
    border-bottom: 2px dashed #977F5E;
    margin-bottom: 10px;
    text-align: center;
}
.name-search {
    border: 1px solid #977f5e;
    border-radius: 3px;
    padding: 5px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #3c3c3c;
}
.name-search{
    outline: none;
}
.cat-table{
    width: 100%;
}
tr td:nth-child(2){
    text-align: center;
    font-weight: bold;
}
